{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
	<div class="page-header">
		<div class="col-md-4">
			<img src="{{ user.avatar }}"class="img-thumbnail">
		</div>
		<div class="col-md-8">
			<h2>{{ user.username }}</h2>
			<h3>{{ user.email }}</h3>
		</div>
	</div><!-- page-header -->
	<div class="row">
		<div class="col-md-12">
			<p>
				some crap
			</p>
		</div>
	</div>

</div>
