{% extends 'DevLeaguesBundle::base.html.twig' %}

{% block body %}

<div>
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

				<a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a>
				<a href="{{ path('fos_user_security_logout') }}">Logout</a>



	{% else %}
			<a href="{{ path('fos_user_security_login') }}">
			{{ 'layout.login'|trans({}, 'FOSUserBundle') }}
		</a>
	{% endif %}
</div>

{% if app.request.hasPreviousSession %}
	{% for type, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="flash-{{ type }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
{% endif %}

<div>
	{% block fos_user_content %}
	{% endblock fos_user_content %}
</div>

{% endblock %}
