{% extends "DevLeaguesBundle::base.html.twig" %}

{% block body %}

<div class="row">
	<div class="col-md-12">
		<h1>Detailed Event</h1>
		<h2>{{ event.name }}</h2>
		<div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div></div>
		<table class="table">
			<thead>
				<tr>
					<th>Users</th>
					<th>Rewards</th>
					<th>End</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for user in event.users %}
					<td>{{ user.username }}</td>
					{% endfor %}
					{% for reward in event.rewards %}
					<td>{{ reward.value }} {{ reward.name }}</td>
					{% endfor %}
					<td>{{ event.endTimestamp | date("d/m/Y g:i a") }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
