<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="Fabien Blin">
	    <link rel="icon" href="../../favicon.ico">

	    <title>DevLeagues.com</title>

	    <!-- Bootstrap core CSS -->
	    <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <!-- <link href="{{ asset('assets/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet"> -->

	    <!-- Custom styles for this template -->
	    <link href="{{ asset('bundles/devleagues/css/main.css') }}" rel="stylesheet">

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	    	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	    	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>
		{{ include('DevLeaguesBundle::navbar.html.twig') }}
	    <div class="container">
			<div class="row starter-template">
				<div class="sidebar col-sm-3">
					<div class="container-fluid">
						{{ include('DevLeaguesBundle::sidebar.html.twig') }}
					</div>
				</div>
				<div class="col-sm-8">
					<div class="body container-fluid">
						<ol class="breadcrumb">
							<li><a href="#">Home</a></li>
							<li><a href="#">Library</a></li>
							<li class="active">Data</li>
						</ol>
						{% block body %}{% endblock %}
					</div>
				</div>
			</div>
	    </div><!-- /.container -->

	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script>window.jQuery || document.write('<script src="{{ asset('assets/js/vendor/jquery.min.js')}}"><\/script>')</script>
	    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="{{ asset('assets/js/ie10-viewport-bug-workaround.js') }}"></script>
	</body>
</html>
