<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="{{ path('home') }}">DevLeagues</a>
	</div><!--/.nav-header -->
	<div id="navbar" class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
		<li class="active"><a href="{{ path('home') }}">Home</a></li>
		<li><a href="{{ path('about') }}">About</a></li>
		<li><a href="{{ path('events') }}">Events</a></li>
		<li><a href="{{ path('community') }}">Community</a></li>
		<li><a href="{{ path('news') }}">News</a></li>
		<li><a href="{{ path('leagues') }}">Leagues</a></li>
		<li><a href="{{ path('contact') }}">Contact</a></li>
	  </ul>
	  <form class="navbar-form navbar-left">
		  <div class="input-group">
			  <input type="text" class="form-control" placeholder="Search for...">
			  <span class="input-group-btn">
				  <button class="btn btn-default" type="button">Search</button>
			  </span>
		  </div>
	  </form>
	  <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
      </ul>
	</div><!--/.nav-collapse -->
  </div>
</nav>
