{% extends "DevLeaguesBundle::base.html.twig" %}

{% block body %}

<div class="row">
	<div class="col-md-12">
		<h1>{{ user.username }}</h1>
<button type="button" name="button">Add friend</button>
more details
	</div>
</div>

{% endblock %}
