{% extends "DevLeaguesBundle::base.html.twig" %}

{% block body %}

<h1>All the current leagues</h1>
<div class="btn-group" role="group" aria-label="...">
	<a href="{{ path('new_league') }}">
		<button type="button" class="btn btn-default">Create league</button>
	</a>
</div>
{% for league in leagues %}
	{% include 'DevLeaguesBundle:League:showReduced.html.twig' %}
{% endfor %}
<nav aria-label="Page navigation">
	<ul class="pagination">
		<li>
			<a href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li>
			<a href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>
{% endblock %}
